@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #f6eddf, #f2e2ca);
  color: #674922;
  font-family: var(--font-lora);
}

h3 {
  font-family: var(--font-great-vibes);
}
